<template>
    <div class="admin">
        <section class="section">
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <h1 class="title is-size-3">Current Tasks</h1>
                    <section class="section">
                        <div v-for="time in times" :key="time.id" class="time-of-day">
                            <div v-for="(task, taskID) in time.tasks" :key="task.id" class="columns">
                                <div class="column is-7">
                                    {{ task.name }}
                                </div>
                                <div class="column is-4">
                                    {{ time.name }}
                                </div>
                                <div class="column is-1 has-text-centered">
                                    <button class="delete is-small is-danger" @click="deleteTask(taskID)"></button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- <table class="table is-striped is-fullwidth">
                        <tbody>
                    <tr v-for="time in times" :key="time.id">
                        
                        <td>{{ task.name }}</td>
                        <td>{{ task.timeOfDay }}</td>
                        <td>
                            <button class="delete is-small is-danger" @click="deleteTask(task)"></button>
                        </td>
                    </tr> 
                    </tbody>
                    </table> -->
                    <div class="field">
                        <button class="button is-link" v-on:click="addTaskModal">
                            Add Task
                        </button>
                    </div>
                    <br><br>
                    <!-- <pre>{{ $data | json }}</pre> -->
                </div>
            </div>
        </section>
        
        <div class="modal" :class="{'is-active': isActive}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Modal title</p>
                    <button class="delete" aria-label="close" @click="cancelAdd"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <div class="control">
                            <input v-model="newTask.name" class="input" type="text" placeholder="Task Name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="select is-fullwidth">
                            <select v-model="newTask.time">
                                <option disabled value="">Please select time of day</option>
                                <option>Start of the Day</option>
                                <option>Anytime</option>
                                <option>End of the Day</option>
                            </select>
                        </div>  
                    </div>
                </section>
                <footer class="modal-card-foot has-text-right">
                    <button class="button is-success" @click="addNewTask()" :disabled=isDisabled>Create Task</button>
                    <button class="button" @click="cancelAdd">Cancel</button>
                </footer>
            </div>
        </div>

    </div>
</template>

<script>
import {db} from '@/firebase'

export default {
    name: 'admin',
    
    data() {
        return {
            newTask: {
                name: '',
                time: ''
            },
            times: [],
            tasks: [],
            name: '',
            time: '',
            timeID: 0,
            isActive: false,
            taskData: []   
        }
    },
    firebase: {
        times: {
            source: db.ref('times'),
            // Optional, allows you to handle any errors.
            cancelCallback(err) {
                console.error(err);
            }
        }
    },
    methods: {
    
        addTaskModal() {
           this.isActive = !this.isActive
        },
        cancelAdd() {
            this.isActive = !this.isActive
            this.newTask.time = ''
            this.newTask.name = ''
        },
        deleteTask: function(taskID) {
            this.$firebaseRefs.times.child('0').child('tasks').child(taskID).remove()
            this.$firebaseRefs.times.child('1').child('tasks').child(taskID).remove()
            this.$firebaseRefs.times.child('2').child('tasks').child(taskID).remove()
        },
        openModal (value) {
            this.isActive = false
            console.log(value)
        },
        addNewTask () {
            if (this.newTask.time == 'Start of the Day') {
                this.timeID = 0
            } else if (this.newTask.time == 'Anytime') {
                this.timeID = 1
            } else {
                this.timeID = 2
            }
            let taskData = {
                name: this.newTask.name,
                date: [
                    {
                        date: 0,
                        taskState: '--'
                    },
                    {
                        date: 1,
                        taskState: '--'
                    },
                    {
                        date: 2,
                        taskState: '--'
                    },
                    {
                        date: 3,
                        taskState: '--'
                    },
                    {
                        date: 4,
                        taskState: '--'
                    },
                    {
                        date: 5,
                        taskState: '--'
                    },
                    {
                        date: 6,
                        taskState: '--'
                    },
                ]
            };
            name = this.newTask.name
            this.$firebaseRefs.times.child(this.timeID).child('tasks').push(taskData)
            //this.$firebaseRefs.times.child(this.timeID).child('tasks').child(name).push({day:0, state: '--'},)
            this.newTask.time = ''
            this.newTask.name = ''
            this.isActive = !this.isActive
            
        },
    },
    computed:{
        isDisabled() {
            if (this.newTask.name == '' || this.newTask.time == '') {
                return true
            } else {
                return 
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.column {
    padding-bottom: 0;
    padding-top: 0;
}
.column {
    margin-bottom: 0;
}
.field {
    margin-bottom: 0;
    padding: 4px !important;
}
.field:not(:last-child) {
    margin-bottom: 0 !important;
}
pre {
    margin-top: 25px;
}
.delete {
    margin-top: 3px;
}
.column {
    padding: 10px 0;
}
.columns {

}
.time-of-day {
    margin-bottom: 10px;
    .columns {
        background: lighten(#DBE5EF, 5%);
        .column {
            padding: 10px 0px 10px 10px;
            border: 1px solid #e6e6e6;
        }
    }
}
</style>
