<template>
  <div class="home">
    <!-- <section class="section has-text-left">
      Today is {{ new Date() | moment("ddd, MMM D") }} and it's going to be awesome.
    </section> -->

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th> </th>
          <th>{{ sun }}</th>
          <th>{{ mon }}</th>
          <th>{{ tue }}</th>
          <th>{{ wed }}</th>
          <th>{{ thu }}</th>
          <th>{{ fri }}</th>
          <th>{{ sat }}</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th> </th>
          <th>{{ sun }}</th>
          <th>{{ mon }}</th>
          <th>{{ tue }}</th>
          <th>{{ wed }}</th>
          <th>{{ thu }}</th>
          <th>{{ fri }}</th>
          <th>{{ sat }}</th>
        </tr>
      </tfoot>
    
      <tbody v-for="(section, timeID) in times" :key="section.id" v-if="section.name">
        <tr class="is-highlighted">
          <th class="is-uppercase has-text-weight-semibold">[{{ section.name }}]</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr v-for="(task, taskID) in section.tasks" :key="task.id">
          <th>{{ task.name }}</th>
          <td v-for="(taskState, dateID) in task.date" :class="taskState.taskState" :key="dateID">
            <TaskButton :task="taskState" :time="timeID" :taskNum="taskID" :dateTask="dateID" :today="today"></TaskButton>
          </td>

        </tr>
        
      </tbody> 
      
    </table>
      <!-- <SignOut /> -->
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import {db} from '@/firebase';
import TaskButton from '@/components/TaskButton.vue'
import SignOut from '@/components/SignOut.vue'

export default {
  components: {
    TaskButton,
    SignOut
  },
  name: 'home',
  data () {
    return {
      week: 0,
      months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      today: new Date(),
      dateContext: moment(),
      helper: 0,
      nextDisabled: false,
      prevDisabled: true,
      addDays: 0,
      times: [],
    }
  },
  methods: {
    // nextWeek () {
    //   if (this.week < this.lights[0].tasks[0].weeks.length) {
    //     this.nextdisabled = false
    //     this.prevDisabled = false
    //     this.week++
    //     this.isActive = false
    //     this.addDays = this.week * 7
    //     if (this.week == this.lights[0].tasks[0].weeks.length - 1) {
    //       this.nextDisabled = true
    //     }
    //   } 
    // },
    // prevWeek () {
    //   if(this.week > 0){
    //     this.prevDisabled = false
    //     this.nextDisabled = false
    //     this.week--
    //     this.addDays = this.addDays - 7
    //     if(this.week == 0) {
    //       this.prevDisabled = true
    //     }
    //   }
    // }
  },
  firebase: {
    times: {
      source: db.ref('times'),
      // Optional, allows you to handle any errors.
      cancelCallback(err) {
        console.error(err);
      }
    }
  },
  computed: {
    sun: function() {
      var t = this;
      this.today = moment()
      this.today = new Date()
      return moment().startOf('week').add(this.addDays, 'days').format('ddd, MMM D');
    },
    mon: function () {
      var t = this;
      //this.today = moment()
      return moment().startOf('week').add(1 + this.addDays, 'days').format('ddd, MMM D');
    },
    tue: function () {
      var t = this;
      //this.today = moment()
      return moment().startOf('week').add(2 + this.addDays, 'days').format('ddd, MMM D');
    },
    wed: function () {
      var t = this;
      //this.today = moment()
      return moment().startOf('week').add(3 + this.addDays, 'days').format('ddd, MMM D');
    },
    thu: function () {
      var t = this;
      //this.today = moment()
      return moment().startOf('week').add(4 + this.addDays, 'days').format('ddd, MMM D');
    },
    fri: function () {
      var t = this;
      //this.today = moment()
      return moment().startOf('week').add(5 + this.addDays, 'days').format('ddd, MMM D');
    },
    sat: function () {
      var t = this;
      //this.today = moment()
      return moment().startOf('week').add(6 + this.addDays, 'days').format('ddd, MMM D');
    }
  }
}
</script>

<style lang="scss" scoped>
.section {
    padding: 0.45rem 1.5rem 2.5rem 1.5rem;
}
.table:not(:last-child) {
  margin-bottom: 0px !important;
}
.button {
  margin-right: 10px;
}
table {
  background: #DBE5EF;
  box-shadow: 0 3px 10px -2px #BDC5CE;
  .button, .button:active, .button:visited {
    border: 0px; 
  }
  .YES {
    background-color: #00D1B2 !important;
  }
  .NO {
    background-color: #FF3860 !important;
  }
  .HALF {
    background-color: #FFDD57 !important;
  }
  .button:focus:not(:active), .button.is-focused:not(:active) {
    -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
    box-shadow: 0 0 0 0em #fff;
  }
  .dropdown-content {
    background-color: #d6d6d6;
    border: 1px solid #ccc;
  }
  .dropdown-item:hover {
    background: #ccc;
  }
  .button {
    border: 0;
    font-size: 14px;
    background: none;
    margin: 0 auto;
    color: #333;
  }
  thead, tfoot {
    font-size: 13px;
  }
  th {
    padding: 0.25em 0.55em;
    font-weight: 100;
    //font-size: 10px;
    //box-shadow: 0 1px 6px -2px #BDC5CE;
  }
  td {
    //box-shadow: 0 1px 6px -2px #BDC5CE;
    padding: 0em 0em;
    text-align: center !important;
  }
  .is-highlighted {
    background: #CBD6E2 !important;
  }
  .today {
    background: #CBD6E2 !important;
  }
}
</style>
