<template>
    <div class="login">
        <section class="section">
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <h1 class="is-size-3 has-text-centered">
                        LIGHTS  <span class="has-text-weight-bold has-text-black-ter">SPREADSHEET</span>
                    </h1>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" v-model="email" type="email" placeholder="e.g alex.smith@smith.com">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" v-model="password" type="password" placeholder="password">
                        </div>
                    </div>
                    <div class="control has-text-right">
                        <button @click="login" class="button is-primary">Login</button>
                    </div>
                    <p>Don't have an account? You can <router-link to="/signup">create one here</router-link>.</p>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import firebase from 'firebase'

export default {
    name: 'login',
    data() {
        return {
            email: '',
            password: ''
        }
    },
    methods: {
        login () {
            firebase.auth().signInWithEmailAndPassword(this.email, this.password).then((user) => {
                this.$router.replace('/home')
            }).catch((err) => {
                alert(err.message)
            })
        }
    }
}
</script>

<style lang="scss" scoped>
.button {
    margin-top: 20px !important;
}
h1 {
    margin-bottom: 30px;
}
</style>
