<template>
    <div class="signup">
        <section class="section">
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <h1 class="is-size-3 has-text-centered">
                        LIGHTS  <span class="has-text-weight-bold has-text-black-ter">SPREADSHEET</span>
                    </h1>
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" v-model="name" type="text" placeholder="e.g Alex Smith">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" v-model="email" type="email" placeholder="e.g alex.smith@smith.com">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" v-model="password" type="password" placeholder="password">
                        </div>
                    </div>
                    <div class="control has-text-right">
                        <button @click="signUp" class="button is-primary">Sign Up</button>
                    </div>
                    <p>Already have an account? You can <router-link to="/login">log in here</router-link>.</p>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import firebase from 'firebase'

export default {
    name: 'signup',
    data() {
        return {
            name: '',
            email: '',
            password: ''
        }
    },
    methods: {
        signUp: function() {
            firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
                function(user) {
                    alert('Your in bro!')
                },
                function(err) {
                    alert('Aint happenin')
                }
            )
        }
    }
}
</script>

<style scoped>
.control button {
    margin-top: 20px !important;
}
h1 {
    margin-bottom: 25px;
}
</style>
