<template>
  <div class="stats">
    <div class="container">
      <section class="section"> 
        <h1>Stats</h1>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: 'stats'
}
</script>

