<template>
    <div class="modal" :class="{ 'is-active': openModal }">
        <div class="modal-background">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Modal title</p>
                    <button class="delete" aria-label="close" @click="closeModal"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Task Name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="select is-fullwidth">
                            <select v-model='task.timeOfDay'>
                                <option disabled value="">Please select time of day</option>
                                <option>Start of the Day</option>
                                <option>Anytime</option>
                                <option>End of the Day</option>
                            </select>
                        </div>  
                    </div>
                </section>
                <footer class="modal-card-foot has-text-right">
                    <button class="button is-success" @click="addNewTask">Create Task</button>
                    <button class="button" @click="closeModal">Cancel</button>
                </footer>
            </div>
        </div>
    </div>  
</template>

<script>
export default {
    name: 'CreateModal',
    props: ['openModal'],
    data () {
        return {

        }
    },
    methods: {
        addNewTask () {
            this.tasks.push({ name: '',timeOfDay: '' })
            this.$emit('clicked', false)
        },
        closeModal () {
            this.openModal = false
            this.$emit('clicked', false)
        }

    }
}
</script>

<style lang="scss" scoped>
    .modal-card {
        margin-top: 7%;
    }
</style>
