<template>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Are you sure?</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <span class="has-text-weight-bold">Delete Task:</span> {{ taskDelete.name }} - {{ taskDelete.timeOfDay }}
            </section>
            <footer class="modal-card-foot has-text-right">
                <button class="button is-danger">Delete Task</button>
                <button class="button">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
export default {
    name: 'DeleteModal',
    props: ['taskDelete'],

}
</script>

<style>

</style>
