<template>
    <div class="logout">
        <a @click="logout">Logout</a>
    </div>
</template>

<script>
import firebase from 'firebase'

export default {
    name: 'SignOut',
    methods: {
        logout: function() {
            firebase.auth().signOut().then(() => {
                this.$router.replace('login')
            })
        }
    }
}
</script>
