<template>
  <div class="task-button">

   <div class="dropdown" :class="{ 'is-active': isActive }">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu1" @click='toggle()' :disabled='disabled'>
                <span>{{ task.taskState }} </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu1" role="menu">
            <div class="dropdown-content has-text-right">
                <button class="delete is-small" @click='toggle()'></button>
    
                <a @click='updateTaskYes(time)' class="dropdown-item">
                    YES 
                </a>
                <a @click='updateTaskNo(time)' class="dropdown-item">
                    NO
                </a>
                <a @click='updateTaskHalf(time)' class="dropdown-item">
                    HALF
                </a>
                <a @click='updateTaskReset(time)' class="dropdown-item">
                    --
                </a>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import {db} from '@/firebase';
import moment from 'moment'

export default {
    name: 'TaskButton',
    props: ['task', 'time', 'taskNum', 'dateTask', 'today'],
    data () {
        return {
            isActive: false,
            todayIs: moment(),
            disabled: false,
        }
    },
    methods: {
        toggle: function(){
            this.isActive = !this.isActive
        },
        updateTaskYes(time) {
            this.isActive = false
            this.$firebaseRefs.times.child(this.time).child('tasks').child(this.taskNum).child('date').child(this.dateTask).set({date: this.dateTask, taskState: 'YES'});
        },
        updateTaskNo(time) {
            this.isActive = false
            this.$firebaseRefs.times.child(this.time).child('tasks').child(this.taskNum).child('date').child(this.dateTask).set({date: this.dateTask, taskState: 'NO'});
        },
        updateTaskHalf(time) {
            this.isActive = false
            this.$firebaseRefs.times.child(this.time).child('tasks').child(this.taskNum).child('date').child(this.dateTask).set({date: this.dateTask, taskState: 'HALF'});
        },
        updateTaskReset(time) {
            this.isActive = false
            this.$firebaseRefs.times.child(this.time).child('tasks').child(this.taskNum).child('date').child(this.dateTask).set({date: this.dateTask, taskState: '--'});
        }
    },
    firebase: {
        times: {
        source: db.ref('times'),
        // Optional, allows you to handle any errors.
        cancelCallback(err) {
            console.error(err);
        }
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.button, .button:active, .button:visited {
    border: 0px; 
    width: 100%;
}
.YES {
    background-color: #00D1B2 !important;
}
.NO {
    background-color: #FF3860 !important;
}
.HALF {
    background-color: #FFDD57 !important;
}
.button:focus:not(:active), .button.is-focused:not(:active) {
-webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
    box-shadow: 0 0 0 0em #fff;
}
.dropdown-content {
    background-color: #d6d6d6;
    border: 1px solid #ccc;
    padding: 7px;
}
.dropdown-item:hover {
    background: #ccc;
}
.button {
    border: 0;
    font-size: 14px;
    background: none;
    margin: 0 auto;
    color: #333;
}
.button[disabled] {
    background: none;
    border: 0 ;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}
</style>
