<template>
  <div id="app">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <router-link class="navbar-item is-size-4 has-text-weight-light has-text-grey" to="/home">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="#475860" class="logo"><path d="M15 7.5c-4.1 0-7.5 3.4-7.5 7.5v70c0 4.1 3.4 7.5 7.5 7.5h70c4.1 0 7.5-3.4 7.5-7.5V15c0-4.2-4.7-7.5-8.8-7.5H15zM87.5 15v70c0 1.4-1.1 2.5-2.5 2.5H15c-1.4 0-2.5-1.1-2.5-2.5V15c0-1.4 1.1-2.5 2.5-2.5h68.8C85.5 12.5 87.5 14 87.5 15z"/><rect x="40" y="40" width="20" height="20"/><path d="M80 17.5H62.5v20h20V20C82.5 18.6 81.4 17.5 80 17.5z"/><rect x="40" y="17.5" width="20" height="20"/><rect x="17.5" y="40" width="20" height="20"/><path d="M17.5 80c0 1.4 1.1 2.5 2.5 2.5h17.5v-20h-20V80z"/><rect x="40" y="62.5" width="20" height="20"/><rect x="62.5" y="40" width="20" height="20"/><path d="M17.5 20v17.5h20v-20H20C18.6 17.5 17.5 18.6 17.5 20z"/><path d="M62.5 82.5H80c1.4 0 2.5-1.1 2.5-2.5V62.5h-20V82.5z"/></svg> LIGHTS  <span class="has-text-weight-bold has-text-black-ter">SPREADSHEET</span>
        </router-link>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" v-on:click="menuOpen = !menuOpen">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu" :class="{ 'is-active': menuOpen }">
        <div class="navbar-start">
          <router-link to="/" class="navbar-item" @click.native="closeMenu()">
            Dashboard
          </router-link>

          <router-link to="/stats" class="navbar-item" @click.native="closeMenu()">
            Stats
          </router-link>

          <router-link to="/admin" class="navbar-item" @click.native="closeMenu()">
            Admin
          </router-link>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container is-fluid">
      <transition
        name="fade"
        mode="out-in"
      >
        <router-view/>
      </transition>
    </div>
    <!-- <div class="footer">
      
    </div> -->
  </div>
</template>

<script>
export default {
  data () {
    return {
      menuOpen: false
    }
  },
  methods: {
      closeMenu() {
         this.menuOpen = !this.menuOpen;
      }
  }
}
</script>

<style lang="scss">
body {
  background: #DBE5EF;
}
body.darkmode {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  font-size: 14px !important;
}
#app {
  min-height: 100vh;
}
.logo {
  height: 35px;
  width: auto;
  margin-right: 8px;
}
.navbar {
  background-color: #DBE5EF !important;
  margin-bottom: 15px;
  box-shadow: 0 3px 10px -2px #BDC5CE;
}
a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: darken(#DBE5EF, 8%) !important;
}
.navbar-menu {
    background-color: #D0DBE5 !important;
    color: #333 !important;
}
.footer {
  background: #DBE5EF !important;
  padding: 0.7rem 0;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>
